.body-car {
  figure {
    height: 500px;
    box-shadow: $box-shadow;
    border-radius: $radius-custom;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $radius-custom;
    }
  }

  article {
    margin-top: 2rem;
    p {
      font-size: 1.1rem;
      margin: 1rem 0 0.5rem 0;
    }

    i {
      margin-right: 10px;
      color: $second;
    }
  }
}

.heading-show {
  margin: 2rem 0 1.4rem 0;
}

@media (max-width: 500px) {
  .body-car figure  {
    height: 300px;
  }
}
