<% if notice %>
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><%= notice %></span>
    <button type="button" class="c-button" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<% end %>
<% if alert %>
  <div class="flash flash-warning alert alert-dismissible fade show" role="alert">
  <span><%= alert %></span>
  <button type="button" class="c-button" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="trueq">&times;</span>
  </button>
</div>
<% end %>
