<div class="footer">
  <div class="container">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
      Ce site à été fait par <strong><%= link_to "Laura Hardy-Dessources", "http://www.lhdesign.me", target: "_blank" %></strong>, pendant la certification du <%= link_to "Wagon", "https://www.lewagon.com/", target: "_blank" %> <i class="fas fa-heart"></i>
    </div>
  </div>
</div>
