<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      body {font-family: 'Arial', 'sans-serif';}
      img { width: 100px; margin-right: 1rem}
      h1 {
        display: flex;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
